body {
    display: flex;
    height: 100%;
    background-color: var(--purple-bg);
}

/* ASIDE MENU BAR - IN MENU.CSS */
/* CONTENT */

.middle-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.add-friends, .friends-requests {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
    padding: 10px 20px;
    margin: 30px;
    width: 40%;
    color: var(--main-col);
    border-color: var(--main-col);
    border-radius: 8px;
    border-style: inset;
    cursor: pointer;
}

.ri-user-add-line , .ri-user-settings-line {
    background-color: var(--main-col);
    /* border-style: inset; */
    color: var(--bg);
    padding: 10px;
    border-radius: 25px;
}

#add-friends {
    padding: 8px;
    margin: 10px;
    border-radius: 16px;
    border-color: var(--main-col);
}

#friends {
    margin: 30px;
    padding: 30px;
    background-color: var(--dark-purple);
    border-radius: 8px;
}

.friends-list-title, .friend-requesrs-title {
    color: var(--purple-bg);
    margin: 20px;
    padding: 20px;
    font-weight: 600;
    font-size: 28px;
    display: flex;
    justify-content: left;
}

.friend-requests-section {
    padding-left: 0;
}

.friend-requests-section li {
    margin: 0 40px;
    padding: 6px;
    color: var(--dark-purple);
    background-color: var(--purple-bg);
    border-radius: 8px;
    font-size: 24px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.friend-requests-section li button {
    padding: 5px;
    margin: 10px;
    background-color: var(--bg);
    border-radius: 8px;
    border-color: var(--main-col);
    color: var(--main-col);
}

#friends-list li {
    /* list-style-type: none; */
    padding: 20px;
    color: var(--purple-bg);
    font-size: 24px;
    margin: 0;
}



/* SCREENS */

@media only screen and (max-width: 900px) {
   
    .middle-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-friends, .friends-requests {
        width: 70%;
        margin: 15px; 
    }

    #friends {
        padding: 10px;
    }

    .friends-list-title {
        margin: 10px;
        padding: 10px;
    }
}

@media only screen and (max-width: 550px) {
    .add-friends, .friends-requests {
        flex-direction: column;
    }

    .add-friends-title, .friends-requests-title {
        margin: 10px;
    }
}